@model List<Course>
@{
    ViewData["Title"] = "Courses";
}
@await Component.InvokeAsync("SiteTitle","courses") 
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (Course item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-controller="course" asp-action="details" asp-route-id="@item.Id">
                                <img src="~/site/img/course/@item.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="course" asp-action="details" asp-route-id="@item.Id" class="text-uppercase">@item.Name</a></h3>
                            <p class="text-capitalize">@item.ShortDescription.Substring(0, item.ShortDescription.Length%120)...</p>
                            <a class="default-btn" asp-controller="course" asp-action="details" asp-route-id="@item.Id">read more</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Course End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe");
<!-- Subscribe End -->