@model List<Blog>
@{
    List<string> autors = new List<string>();
}
@foreach (Blog item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog mb-60">
            <div class="blog-img">
                <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">
                    <img src="~/site/img/blog/@item.Image" alt="blog">
                </a>
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                    <p>
                        By
                        @{
                            foreach (BlogModerator moderator in item.BlogModerators)
                            {
                                autors.Add(moderator.Moderator.Name);
                            }
                            <span class="text-capitalize">@string.Join(", ", autors) </span>
                            autors.Clear();
                        }

                        /  @item.Created_at.ToString("MMMM dd, yyyy")
                    </p>
                </div>
                <div class="blog-bottom">
                    <h2>
                        <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">
                            @item.Name
                        </a>
                    </h2>
                    <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">read more</a>
                </div>
            </div>
        </div>
    </div>

}
@if (Model.Count() == 0)
{
    <div class="col-xl-12"><h2><p>Blog with that name not found!</p></h2></div>
    
}