@model UserVM
<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">
    <div class="navbar-brand">
        <a asp-controller="dashboard" asp-action="index" class="d-inline-block">
            <img src="~/Admin/global_assets/images/logo_light.png" alt="">
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>

        <span class="navbar-text ml-md-3">
            <span class="badge badge-mark border-orange-300 mr-2"></span>
            Morning, @Model.Name @Model.Surname!
        </span>

        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a asp-area="default" asp-controller="register" asp-action="logout" class="navbar-nav-link">
                    <i class="icon-switch2"></i>
                    <span class="d-md-none ml-2">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            <span class="font-weight-semibold">Navigation</span>
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->
        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- User menu -->
            <div class="sidebar-user-material">
                <div class="sidebar-user-material-body">
                    <div class="card-body text-center">
                        <a href="#">
                            <img src="~/Admin/global_assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                        </a>
                        <h6 class="mb-0 text-white text-shadow-dark">@Model.Name @Model.Surname</h6>
                        <span class="font-size-sm text-white text-shadow-dark text-capitalize">@Model.Role</span>
                    </div>

                    <div class="sidebar-user-material-footer">
                        <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
                    </div>
                </div>

                <div class="collapse" id="user-nav">
                    <ul class="nav nav-sidebar">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon-cog5"></i>
                                <span>Account settings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="default" asp-controller="register" asp-action="logout" class="nav-link">
                                <i class="icon-switch2"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /user menu -->
            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
                    <li class="nav-item">
                        <a asp-controller="dashboard" asp-action="index" class="nav-link">
                            <i class="icon-home4"></i>
                            <span>
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="site" asp-action="index" class="nav-link"><i class="fas fa-database"></i> <span>Site Settings</span></a>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="fas fa-layer-group"></i> <span>Category</span></a>

                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="category" asp-action="index" class="nav-link ">Category List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="category" asp-action="create" class="nav-link ">Create Category </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="fab fa-leanpub"></i> <span>Courses</span></a>

                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="course" asp-action="index" class="nav-link ">Courses List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="course" asp-action="create" class="nav-link ">Create Course </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="far fa-calendar-check"></i> <span>Event</span></a>

                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="event" asp-action="index" class="nav-link ">Event List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="event" asp-action="create" class="nav-link ">Create Event </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="fas fa-hashtag"></i> <span>Tags</span></a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="tag" asp-action="index" class="nav-link ">Tags List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="tag" asp-action="create" class="nav-link ">Create Tag </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="fas fa-chalkboard-teacher"></i> <span>Teachers</span></a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="teacher" asp-action="index" class="nav-link ">Teachers List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="teacher" asp-action="create" class="nav-link ">Create Teacher </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="fab fa-blogger-b"></i> <span>Blogs</span></a>
                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="Blog" asp-action="index" class="nav-link ">Blogs List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Blog" asp-action="create" class="nav-link ">Create Blog </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-images2"></i> <span>Slider</span></a>

                        <ul class="nav nav-group-sub">
                            <li class="nav-item">
                                <a asp-controller="slider" asp-action="index" class="nav-link ">Slider Items List</a>
                            </li>
                            @if (ViewBag.MainSliderCount < 5)
                            {
                                <li class="nav-item">
                                    <a asp-controller="slider" asp-action="create" class="nav-link ">Create Slider Item</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="users" asp-action="index" class="nav-link"> <i class="fas fa-users"></i><span>User List</span></a>
                    </li>

                    <!-- /main -->


                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Dashboard</span>
                    </div>

                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>
            </div>
        </div>
        <!-- /page header -->
