
@model UserVM
@{
    ViewData["Title"] = "Admin Panel - Reset Password ";
    ViewData["TitleNavbar"] = " Reset Password ";
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Reset Password</h5>
    </div>
    <div class="card-body">
        <p class="text-capitalize">Name: @Model.Name</p>
        <p class="text-capitalize">Surname: @Model.Surname</p>
        <p class="text-capitalize">Phone Number: @Model.PhoneNumber</p>
        <p class="text-capitalize">Image: @Model.Image</p>
        <p class="text-capitalize">Email: @Model.Email</p>
        <p class="text-capitalize">Username: @Model.Username</p>
        <p class="text-capitalize">Role: @Model.Role</p>
        @if (TempData["error"] != null)
        {
            <div class="text-danger">@TempData["error"]</div>

        }
    <form method="post">
        <input type="password" name="NewPassword" placeholder="Enter New Password" />
        <div class="card-footer d-flex flex-row-reverse mt-3">
            <button type="submit" class="btn btn-success">Change</button>
        </div>
    </form>
    </div>

</div>




