@model Event
@{
    ViewData["Title"] = "Create";
    bool select = false;
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Create Course</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger text-capitalize"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control mb-3" placeholder="Enter title">
                <span class="text-warning" asp-validation-for="Title"></span>
            </div>
            <div class="form-group d-flex">
                <div class="form-group col-6 pl-0">
                    <label asp-for="StartTime">Event start time </label>
                    <input asp-for="StartTime" class="form-control mb-3">
                    <span class="text-warning" asp-validation-for="StartTime"></span>
                </div>
                <div class="form-group col-6 pr-0">
                    <label asp-for="EndTime">Event end time </label>
                    <input asp-for="EndTime" class="form-control mb-3">
                    <span class="text-warning" asp-validation-for="EndTime"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Venue">Venue </label>
                <input asp-for="Venue" class="form-control mb-3">
                <span class="text-warning" asp-validation-for="Venue"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control description" rows="4" cols="4"></textarea>
                    <span class="text-warning" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Image</label>
                <img src="~/Site/img/event/@Model.Image" width="500" alt="Alternate Text" />
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="col-lg-2 col-form-label font-weight-semibold"></label>
                <div class="col-lg-10">
                    <input asp-for="Photo" accept="image/*" class="file-input-slider-main" data-fouc>
                </div>
                <span class="text-warning" asp-validation-for="Photo"></span>
            </div>

            <div class="form-group d-flex">
                <div class="form-group col-6 pl-0">
                    <label>Categories</label>
                    <select multiple="multiple" class="form-control select" name="Categories" data-placeholder="Select Categories..." data-fouc>
                        @foreach (Category ctg in ViewBag.Categories)
                        {
                        @foreach (EventCategory selectedCtg in Model.EventCategories)
                            {
                        @if (selectedCtg.CategoryId == ctg.Id)
                                {
                        <option class="text-capitalize" selected value="@ctg.Id">@ctg.Name</option>
                                    select = true;
                                }
                            }
                            if (select != true)
                            {
                        <option class="text-capitalize" value="@ctg.Id">@ctg.Name</option>
                            }
                            else select = false;
                        }
                        @{select = false;};
                    </select>
                </div>
                <div class="form-group col-6 pr-0">
                    <label>Moderators</label>
                    <select multiple="multiple" class="form-control select" name="Moderators" data-placeholder="Select Moderators..." data-fouc>
                        @foreach (UserVM moderator in ViewBag.Moderators)
                        {
                        @foreach (EventModerator selectedModer in Model.EventModerators)
                            {
                        @if (selectedModer.ModeratorId == moderator.Id)
                                {
                        <option class="text-capitalize" selected value="@moderator.Id">@moderator.Username</option>
                                    select = true;
                                }
                            }
                            if (select != true)
                            {
                        <option class="text-capitalize" value="@moderator.Id">@moderator.Username</option>
                            }
                            else select = false;
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Activeted">Active course after update? </label>
                <input asp-for="Activeted" checked>
                <span class="text-warning" asp-validation-for="Activeted"></span>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn bg-blue ml-3 legitRipple">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>
@section ThemeScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/editors/ckeditor/ckeditor.js"></script>
    <script src="~/Admin/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/Admin/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
}
